@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin multi-ellipsis($font-size, $line-height, $lines) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: $line-height * $lines;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical; /* autoprefixer: off */
}

@mixin pos(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile-s {
  @media (max-width: #{$s-mobile-width}) {
    @content;
  }
}

@mixin mobile-r {
  @media (max-width: #{$r-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin pc {
  @media (max-width: #{$pc-width}) {
    @content;
  }
}
@mixin pc-l {
  @media (max-width: #{$l-pc-width}) {
    @content;
  }
}
@mixin pc-xl {
  @media (max-width: #{$xl-pc-width}) {
    @content;
  }
}