// 미디어쿼리
$s-mobile-width : 479px; // 모바일 세로
$r-mobile-width : 599px;
$mobile-width : 767px;  // 모바일 가로, 타블렛 세로
$tablet-width : 1023px; // 타블렛 가로
$pc-width : 1279px; // pc
$l-pc-width : 1439px; 
$xl-pc-width : 1599px;

// 컬러
$color-noWeb: #000;
$color-naver: #4fcf5b;
$color-watch: #9d8ae4;
$color-andar: #f0643a;
$color-va: #000;
$color-seoul: #4292e9;
$color-adidas : #ee265c;